*{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
body {
    background: #193d3d;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
}
li {
    float: left;
    border-right: 1px solid #bbb;
}
li:last-child {
    border-right: none; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.active, li a:hover {
    background-color: #059862;
}

.cropmodestyle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    border-bottom: 2px solid #bbb;
    padding: 5px 0 5px 0;
}
.tray2{
    border-top: 2px solid #bbb;
}
.traytext{
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 0 5px 5px 5px;
}
.growlightlabel{
    height: 34px;
}
.tables{
    display: flex;
    flex-direction: row;
}
table {
    font-family: arial, sans-serif;
    font-size: 4vw;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #bbb;
    text-align: left;
    padding: 8px;
}
#invisible{
    display: none;
  }
